@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="display-4">Homepage</h1>
        <a class="btn btn-primary" style="width: 15%" href="/Home/Insert">Insert</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Broj sobe</th>
                <th scope="col">Rezervisano</th>
                <th scope="col">Cena</th>
                <th scope="col">Slika</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var apartman in Model)
            {
               <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@apartman.Id">@apartman.Id</a>
                    </td>
                    <td>@apartman.BrojSobe</td>
                    <td>@apartman.Rezervisano</td>
                    <td>@apartman.Cena</td>
                        <td>
                        @if (apartman.Slika != null && apartman.Slika.Length > 0)
                        {
                            string base64Image = Convert.ToBase64String(apartman.Slika);
                            string imageSource = $"data:image;base64,{base64Image}";
                            <img width="50px" height="50" src="@imageSource" alt="Apartman Image" />
                        }
                        </td>
                     <td>
                             <a class="btn btn-success" asp-controller="Home" asp-action="Update" asp-route-id="@apartman.Id">Update</a>
                     </td>
                    <td>
                        <form method="post" asp-action="Delete" asp-controller="Home" asp-route-id="@apartman.Id">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
